/* GENERAL */

* {
  font-family: 'Signika', sans-serif;
}

h1 {
  margin-top: 40px;
  font-weight: 700;
}

/* padding per sovrapporre la navbar con l'inizio di ogni sezione all'utilizzo del link corrispondente */
/* NOTE: per mantenere le proporzioni del mock-up, i div sono posizionati al termine della sezione precedente al loro identificativo */
#portfolio {
  padding-top: 10px;
}

#about {
  padding-top: 60px;
}

#contact {
  padding-top: 40px;
}

/* CUSTOMIZZAZIONE NAVBAR */

/* padding */
.navbar .container {
  padding: 20px 0;
}

/* colore navbar */
.navbar, .navbar-collapse {
  background-color: #2c3e50;
  font-weight: bold;
}

.navbar-default {
  border-color: inherit;
}

/* testo "brand" */
.navbar-header a.navbar-brand {
  color: #ffffff;
  font-size: 30px;
}

/* colore sfondo navbar + testo navlink */
.collapse.navbar-collapse.navbar-right li a {
  background-color: #2c3e50;
  color: #ffffff;
  font-size: 18px;
}

/* effetti hover */
.navbar .container .navbar-brand:hover {
  color: #ffffff;
}

.navbar .container .navbar-brand:active {
  color: #ffffff;
}

.navbar .container .navbar-brand:focus {
  color: #ffffff;
}

.collapse.navbar-collapse.navbar-right li a:hover {
  color: #1abc9c;
  background-color: #2c3e50;
}

.collapse.navbar-collapse.navbar-right li a:active {
  color: #1abc9c;
  background-color: #2c3e50;
}

.collapse.navbar-collapse.navbar-right li a:focus {
  color: #1abc9c;
  background-color: #2c3e50;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #2c3e50;
}

/* JUMBOTRON */

.green-background {
  color: #ffffff;
  background-color: #1abc9c;
}

img.my-jumbotron {
  padding-top: 100px;
  width: 100%;
  max-width: 250px;
  height: auto;
  margin: 20px 0;
  display: inline-block;
}

.jumbo-span {
  display: block;
  font-size: 18px;
}

/* CUSTOMIZZAZIONE DIVIDER STELLA (varianti bianca e blu) */

div .divider-star {
  margin: 10px 0 20px 0;
}

div .star-line {
  border: solid 2px #ffffff;
  width: 100%;
  max-width: 112px;
  display: inline-block;
  position: relative;
  bottom: 15px;
  border-radius: 10px;
}

div .star {
  display: inline-block;
  margin: 0 10px 0 12px;
}

.glyphicon-star {
  font-size: 38px;
  color: #ffffff;
}

div .star-line-blue {
  border-color: #2c3e50;
}

div .star-blue {
  color: #2c3e50;
}

/* BACKGROUND HOVER SULLE IMMAGINI MAIN-2 */

.hover-green-plus {
  display: inline-block;
  margin-bottom: 40px;
  position: relative;
}

.plus-figure {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.plus-figure-vertical, .plus-figure-horizontal {
  width: 66px;
  height: auto;
  border: solid 6px #ffffff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plus-figure-vertical {
  top: calc(50% - 6px);
  left: calc(50% - 33px);
  transform: rotate(90deg);
}

/* effetti hover */
.hover-green-plus:hover .plus-figure {
  background-color: rgba(26, 188, 156, 0.9);
  cursor: pointer;
  transition: opacity 0.2s ease;
  opacity: 1;
}

/* SEZIONE 1 MAIN */

/* dimensione immagini */
.hover-green-plus img {
  width: 100%;
  max-width: 330px;
  height: auto;
  border-radius: 10px;
}

/* SEZIONE 2 MAIN */

.paragraph-main-2-left, .paragraph-main-2-right {
  text-align: left;
  padding: 10px;
  font-size: 18px;
}

.main-2-download {
  color: #ffffff;
  border-color: #ffffff;
  margin-top: 20px;
}

.glyphicon-open {
  padding-right: 5px;
}

/* SEZIONE 3 MAIN */

form .form-group input, form .form-control {
  font-size: 18px;
  border-style: none;
  box-shadow: none;
  border-bottom: 1px solid #cccccc;
  border-radius: 0;
  padding: 6px 0;
  margin: 0 12px;
  width: calc(100% - 24px);
}

form .form-group input::placeholder, form .form-control::placeholder {
  color: #2c3e50;
}

.main-3-send {
  float: left;
  margin: 20px 12px 50px 12px;
}

/* FOOTER */

.footer-1-light-blue {
  background-color: #3a546d;
  color: #ffffff;
  font-size: 20px;
}

.footer-2-dark-blue {
  background-color: #2c3e50;
  color: #ffffff;
}

.footer-info {
  margin: 40px 0;
}

.footer-info .footer-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50%;
  line-height: 40px;
  margin: 0 2px;

}

.footer-info-link {
  color: #1abc9c;
}

.copyright-footer {
  margin: 20px;
}

/* MEDIA QUERIES */

@media all and (max-width: 767px) {

  .navbar-header a.navbar-brand {
    margin-left: 20px;
  }

  .navbar-header .navbar-toggle {
    margin-right: 40px;
  }

  .hover-green-plus img {
    max-width: 767px;
  }

}

@media all and (min-width: 768px) and (max-width: 991px) {

  .paragraph-main-2-left, .paragraph-main-2-right {
    padding: 10px 20px;
  }

  .paragraph-main-2-right  {
    margin: 0;
  }

  .hover-green-plus img {
    max-width: 495px;
  }

}

@media all and (min-width: 992px) {

  .paragraph-main-2-right  {
    margin: 0;
  }

}
